{% extends "layout.html" %}

{% block title %}
    Tabla de usuarios
{% endblock %}

{% block main %}

    <h3 class="section-title">Tabla de usuarios</h3>
    <table class="table mx-auto w-50">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo eletrónico</th>
                <th scope="col">Fecha de registro</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td class="center-align">{{ item["ID"] }}</td>
                <td class="center-align">{{ item["nombre"] }}</td>
                <td class="center-align">{{ item["email"] }}</td>
                <td class="center-align">{{ item["registro"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="lds-facebook"><div></div><div></div><div></div>

{% endblock %}