{% extends "layout.html" %}

{% block main %}
    <h3 class="section-title">Formulario</h3>
    <br>
    <form action="/" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-25" id="nombre" name="nombre" placeholder="Nombre" type="text" value='{{ nom }}'>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-25" id="email" name="email" placeholder="Correo Electrónico" type="email" value="{{ mail }}">
        </div>
        <button class="btn btn-danger" type="submit">Enviar</button>
    </form>

{% endblock %}
